@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/Roboto/Roboto-Light-webfont.eot");
    src: url("../fonts/Roboto/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Light-webfont.svg#segoeui_light") format("svg");
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    background: url(../images/Fishground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    background: rgba(0, 0, 0, 0);
    font-family: "Roboto Light";
    color: rgba(30, 30, 30, 1);
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    background: rgba(30, 30, 30, 1);
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    color: rgba(240, 240, 240, 1);
}

#title {
    font-family: comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
    text-align: center;
    font-size: 80px;
    color: #FFFFFF;
    text-shadow: #666666;
    margin-bottom: 30px;
}

h3 {
    color: #FFFFFF;
    text-shadow: #666666;
}

highscore-header {
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: #666666;
}

label {
    color: #FFFFFF;
    text-shadow: #666666;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: #666666;
}

footer {
    text-align: center;
}

#buttonList {
    position: center;
    list-style: none;
    padding-left: 0;
    width: 200px;
    height: 50px;
    position: relative;
    text-align: center;
    font-size: 30px;
}

content {
    text-align: center;
    width: 100%;
    flex: 1;
    min-height: 100%;
    margin-top: 50px;
    padding: 25px;
    background: rgba(0, 0, 0, 0);
}

main-menu {
    width: 100%;
    text-align: center;
}

.mainButton {
    display: block;
    margin: 20px;
    width: 200px;
    height: 50px;
    text-align: center;
    border: 1px solid #8A66F4;
    -webkit-box-shadow: #CCCCCC 0px 1px 0px inset;
    -moz-box-shadow: #CCCCCC 0px 1px 0px inset;
    box-shadow: #CCCCCC 0px 1px 0px inset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 25px;
    font-family: arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #a7cfdf;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
    background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
    background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
    background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
    background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
    background-image: linear-gradient(to bottom, #a7cfdf, #23538a);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a7cfdf, endColorstr=#23538a);
}

.fishSelect {
    width: 100%;
    text-align: center;
}

.fishButton {
    height: 100px;
    width: 10%;
    margin: 20px;
    display: inline;
}

#helpText {
    font-size: 1.3em;
    color: white;
    margin-top: 30px;
}

h1 #score {
    position: absolute;
    top: 1px;
    right: 300px;
    font-size: 1.3em;
    color: red;
}

h1 #puText {
    position: absolute;
    top: 2px;
    right: 650px;
    font-size: 1em;
    color: white;
}

h1 #time {
    position: absolute;
    top: 1px;
    right: 1000px;
    font-size: 1.3em;
    color: white;
}

h1 #count {
    position: absolute;
    top: 2px;
    right: 450px;
    font-size: 1em;
    color: white;
}

h1 #lifes {
    position: absolute;
    top: 1px;
    right: 120px;
    font-size: 1.3em;
    color: white;
}

h1 #heart {
    position: absolute;
    top: 5px;
    right: 50px;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}

ul {
    list-style-type: decimal;
    width: 300px;
    height: 50px;
    margin: 0;
    padding: 0;
    display: table;
    color: rgba(220, 60, 100, 1);
}

ul li {
    list-style-type: decimal;
    display: block;
    margin: 20px;
    text-align: center;
    width: 200px;
    font-size: 25px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.smaller {
    height: 100px;
}

#canvas-container {
    width: 100%;
    text-align: center;
}

canvas {
    height: 100%;
    width: 90%;
    margin: -50px;
    display: inline;
    border: 4px solid;
}